extends layout 

block content 
    div
        table 
            tr 
                th 
                    img(src= albumArt)
            tr 
                th track: #{trackName}
            tr 
                th artist: #{artistName}
    
