body {
    background-color: #FFF4CC;
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

p {
    margin: 1px;
}

a {
    color: #00B7FF;
}

table {
    float: right;
    border: 1px solid black;
    border-collapse: collapse;
}

/* div {
    float: right;
} */
.table-text {
    float: left;
}
.table-logo {
    float: right;
}
.logo {
    width: auto;
    height: 16px;
    padding: 1px;
}